* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100px;
}

body {
	background-color: black;
	color: white;
}

.head-container {
	text-align: center;
	margin-top: 0%;
	line-height: 150%;
	user-select: none;
	display: block;
	margin-bottom: 6%;
}

img {
	height: 250px;
}


.menu-header {
	margin-bottom: 7%;
	text-align: center;
	font-family: 'Press Start 2P';
	font-size: 25%;
	user-select: none;
}

.menu-container {
	height: 100%;
	text-align: left;
	margin-left: 34%;
	font-family: 'Press Start 2P';
	font-size: 25%;
	user-select: none;
}

ul {
	list-style: none;
}

li {
	display: block;
}

.selectedGame {
	display: inline-block;
	color: #cfa725;
}

/*
.spec-effect {
	text-shadow: 1px -1px 0px red, -0.5px 0.5px 0px cyan;
}*/
