@font-face {
    font-family: 'SignPainter';
    src: url('SignPainter-HouseScript.woff2') format('woff2'),
        url('SignPainter-HouseScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFMono';
    src: url('SFMono-Regular.woff2') format('woff2'),
        url('SFMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('PressStart2P-Regular.woff2') format('woff2'),
        url('PressStart2P-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}